$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default;

@import "font-awesome";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "features/GoogleAutocomplete";

neat-form, neat-form-wizard {
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  input[type=checkbox], input[type=radio] {
    display: block;
    opacity: 1;
  }

  @import "bootstrap/responsive-embed";
  @import "bootstrap/responsive-utilities";
  @import "bootstrap/utilities";
  @import "bootstrap/scaffolding";
  @import "bootstrap/grid";
  @import "bootstrap/forms";
  @import "bootstrap/panels";
  @import "bootstrap/input-groups";
  @import "bootstrap/labels";
  @import "bootstrap/dropdowns";
  @import "bootstrap/buttons";
  @import "bootstrap/navs";

  .form-control {
    background-image: inherit;
  }

  select.form-control {
    appearance: inherit;
    -moz-appearance: toolbarbutton-dropdown;
    -webkit-appearance: menulist-button;
  }

  .fromDashTo {
    display: block;
  }
  .fromDashToMobile {
    display: none;
  }

  .success-message {
    padding: 20px;
    font-size: 120%;
  }

  .form-group.headline {
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 6px;
    margin: 17px 0 20px;
    border-bottom: 1px solid #ccc;
  }

  .form-group.info-text {
    margin-left: 16.6666666667%;
    padding: 0 0 0 8px;
    font-weight: 300;
  }

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {

      padding: 0;

      &.btn {
        padding: 6px 12px;
      }
    }
  }

  @import "sections";
  @import "mobile";
  @import "features/Navigation";
  @import "features/Wizard";
  @import "fields/Price";
  @import "fields/PricePerUnit";
  @import "fields/Multiimageupload";
  @import "fields/Address";
  @import "fields/Checkbox";

}

neat-form-wizard {
  .neat-2-col-form {
    neat-form-field-radio {
      .col-md-2 {
        width: 25%;
      }
      .col-md-10 {
        width: 75%;
      }
    }

  }
}
