$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default;

@import "font-awesome";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "features/GoogleAutocomplete";

neat-form, neat-form-wizard {
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  input[type=checkbox], input[type=radio] {
    display: block;
    opacity: 1;
  }

  @import "bootstrap/scaffolding";
  @import "bootstrap/grid";
  @import "bootstrap/forms";
  @import "bootstrap/panels";
  @import "bootstrap/input-groups";
  @import "bootstrap/labels";
  @import "bootstrap/dropdowns";
  @import "bootstrap/buttons";
  @import "bootstrap/navs";

  .form-control {
    background-image: inherit;
  }

  .success-message {
    padding: 20px;
    font-size: 120%;
  }

  .form-group.headline {
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 6px;
    margin: 17px 0 20px;
    border-bottom: 1px solid #ccc;
  }

  .form-group.info-text {
    margin-left: 16.6666666667%;
    padding: 0 0 0 8px;
    font-weight: 300;
  }

  @import "sections";
  @import "features/Navigation";
  @import "features/Wizard";
  @import "fields/Price";
  @import "fields/PricePerUnit";
  @import "fields/Multiimageupload";
  @import "fields/Address";
  @import "fields/Checkbox";
}
