$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default;

@import "font-awesome";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "features/GoogleAutocomplete";

neat-form {
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  input[type=checkbox], input[type=radio] {
    display: block;
    opacity: 1;
  }

  @import "bootstrap/scaffolding";
  @import "bootstrap/grid";
  @import "bootstrap/forms";
  @import "bootstrap/panels";
  @import "bootstrap/input-groups";
  @import "bootstrap/labels";
  @import "bootstrap/dropdowns";
  @import "bootstrap/buttons";

  .form-control {
    background-image: inherit;
  }

  @import "sections";
  @import "features/Navigation";
  @import "fields/Price";
  @import "fields/Multiimageupload";
  @import "fields/Address";
  @import "fields/Checkbox";
}
