<form ng-submit="submit()" class="form form-horizontal panel neat-form" ng-class="{'panel-loading': loading}" ng-cloak>
    <div class="panel-body">
        <div class="panel-loader" ng-if="loading">
            <div class="spinner-small"></div>
        </div>

        <div class="wizard-tabs row" ng-if="!showSuccess">
            <div class="col-md-2">
                <span class="fromDashTo">
                    {{activeTab + 1}} / {{maximumTabIndex + 1}}
                </span>
            </div>
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active': conf.groupWizardTabIndex === activeTab, 'has-error': conf.hasError}" ng-repeat="conf in config.groups" ng-if="conf.label"><a
                            ng-click="goToTab(conf.groupWizardTabIndex)" ng-attr-title="{{conf.groupWizardTabIndex + 1}}. {{conf.label}}">{{conf.groupWizardTabIndex + 1}}
                        <span class="tab-label">. {{conf.label}}</span>
                    </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row success-message" ng-if="showSuccess" ng-bind-html="config.renderOptions.successMessage">
        </div>

        <div class="row" ng-repeat="conf in config.groups" ng-if="config.groups && !showSuccess" ng-show="conf.groupWizardTabIndex == activeTab">
            <neat-form-section config="conf" ng-if="conf.fields" show-label="false" options="config.renderOptions.groups" labels="config.renderOptions.labels">
            </neat-form-section>
        </div>

        <div class="row" ng-if="!showSuccess && !loading">
            <div class="panel panel-inverse">
                <div class="panel-body">
                    <div class="col-md-8" style="padding-left: 0">
                        <button type="button" ng-click="goToTab(activeTab + 1)" class="btn btn-primary btn-block col-md-10"
                                ng-if="activeTab !== maximumTabIndex && config.renderOptions.labels.next !== false">
                            <i class="fa fa-arrow-right"></i>&nbsp;
                            {{config.renderOptions.labels.next ||
                            "Next"}}
                        </button>
                        <button type="submit" class="btn btn-success btn-block col-md-10" ng-if="activeTab === maximumTabIndex && config.renderOptions.labels.save !== false  && !connectedId">
                            <i class="fa fa-save"></i>&nbsp;
                            {{config.renderOptions.labels.save ||
                            "Save"}}
                        </button>
                        <button type="submit" class="btn btn-success btn-block col-md-10" ng-if="activeTab === maximumTabIndex && config.renderOptions.labels.update !== false && connectedId">
                            <i class="fa fa-save"></i>&nbsp;
                            {{config.renderOptions.labels.update ||
                            "Save"}}
                        </button>
                    </div>
                    <div class="col-md-4" style="padding-right: 0">
                        <button type="submit" class="btn btn-success btn-block col-md-10" ng-if="activeTab !== maximumTabIndex && config.renderOptions.labels.save !== false  && !connectedId">
                            <i class="fa fa-save"></i>&nbsp;
                            {{config.renderOptions.labels.save ||
                            "Save"}}
                        </button>
                        <button type="submit" class="btn btn-success btn-block col-md-10" ng-if="activeTab !== maximumTabIndex && config.renderOptions.labels.update !== false && connectedId">
                            <i class="fa fa-save"></i>&nbsp;
                            {{config.renderOptions.labels.update ||
                            "Save"}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="config.renderOptions.infoMessage && !neatFormSuccess && !showSuccess">
            <div class="panel panel-inverse">
                <div class="panel-body">
                    <div class="form-info" ng-bind-html="config.renderOptions.infoMessage">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="neat-form-navigation" ng-class="{'active': navigationOpen}" ng-if="config.renderOptions.groups.navigation && !showSuccess && !loading && config.groups"
         ng-init="navigationOpen = false;">
        <a class="neat-form-navigation-btn" ng-click="navigationOpen = !navigationOpen">
            <i class="fa fa-navicon"></i>
        </a>
        <div class="neat-form-navigation-content">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary" ng-click="scrollToGroup(group)" ng-repeat="group in config.groups" ng-if="group.label">{{group.label}}</a>
                </div>
            </div>
        </div>
    </div>
</form>