<div class="panel panel-inverse" id="{{config.id}}" ng-show="visible">
    <div class="panel-heading" ng-if="config.label && showLabel">
        <div class="pull-right" ng-if="options.saveButtons || options.collapsible">
            <button type="submit" ng-if="options.saveButtons" class="btn btn-primary btn-xs">
                {{labels.save}}
            </button>

            <button type="button" class="btn btn-primary btn-xs m-l-10" ng-if="options.collapsible" ng-click="toggleCollapse()">
                <i class="fa fa-caret-down"
                   ng-class="{
                    'fa-caret-down': collapsed,
                    'fa-caret-up': !collapsed
                    }"
                >

                </i>
            </button>
        </div>
        <h4 class="panel-title" style=" cursor: pointer; " ng-click="toggleCollapse()">{{config.label}}</h4>
    </div>
    <div class="panel-body neat-form-section-body" ng-show="!collapsed">
        <legend ng-if="config.legend">{{config.legend}}</legend>
        <div ng-repeat="conf in config.fields" ng-class="{
            'neat-7-col-form': config.columns === 7,
            'neat-6-col-form': config.columns === 6,
            'neat-5-col-form': config.columns === 5,
            'neat-4-col-form': config.columns === 4,
            'neat-3-col-form': config.columns === 3,
            'neat-2-col-form': config.columns === 2,
            'neat-1-col-form': config.columns === 1 || !config.columns
        }">
            <neat-form-section config="conf" options="options" labels="labels" ng-if="conf.fields">
            </neat-form-section>
            <neat-form-field config="conf" options="options" labels="labels" ng-if="!conf.fields">
            </neat-form-field>
        </div>
    </div>
</div>