<div class="form-group" ng-class="{'has-error': config.errors}">
    <label class="col-md-2 control-label">{{config.label}}</label>
    <div class="col-md-10">
        <label class="radio-inline">
            <input type="radio" name="{{config._id}}" ng-value="null" ng-model="config.value">
            {{config.renderOptions.labels.null || "Unknown"}}
        </label>
        <label class="radio-inline">
            <input type="radio" name="{{config._id}}" ng-value="true" ng-model="config.value">
            {{config.renderOptions.labels.true || "Yes"}}
        </label>
        <label class="radio-inline">
            <input type="radio" name="{{config._id}}" ng-value="false" ng-model="config.value">
            {{config.renderOptions.labels.false || "No"}}
        </label>
    </div>
</div>