<div class="form-group" ng-class="{'has-error': config.errors.lat || config.errors.lon}">
    <label class="col-md-2 control-label">{{config.label.lat}} / {{config.label.lon}}</label>
    <div class="col-md-10">
        <div class="col-md-6" style="padding-left: 0;">
            <input type="text" ng-readonly="config.readonly" ng-model="config.value.lat" class="form-control ">
        </div>
        <div class="col-md-6" style="padding-right: 0;">
            <input type="text" ng-readonly="config.readonly" ng-model="config.value.lon" class="form-control">
        </div>
    </div>
</div>