<div class="form-group" ng-if="config.renderOptions.googleMapsKey">
    <div class="col-md-12" map-lazy-load="https://maps.google.com/maps/api/js"
         map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key={{config.renderOptions.googleMapsKey}}">
        <div class="map-panel panel panel-inverse">
            <div class="panel-body">
                <map default-style="false" center="{{mapConfig.center}}" zoom="{{mapConfig.zoom}}"
                     street-view-control="false" map-type-control="true"
                     map-type-control-options='{position:"top_right", style:"dropdown_menu", mapTypeIds:["HYBRID","ROADMAP","SATELLITE","TERRAIN"]}'
                     map-type-id="HYBRID">
                    <marker id="dragMarker" position="{{markerConfig.pos}}" draggable="true" on-dragend="markerDragged()"></marker>
                </map>
            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': config.errors.lat || config.errors.lon}">
    <label class="col-md-2 control-label">{{config.label.lat}} / {{config.label.lon}}</label>
    <div class="col-md-10">
        <div class="col-md-6" style="padding-left: 0;">
            <input type="text" ng-readonly="config.readonly" ng-model="config.value.lat" class="form-control ">
        </div>
        <div class="col-md-6" style="padding-right: 0;">
            <input type="text" ng-readonly="config.readonly" ng-model="config.value.lon" class="form-control">
        </div>
    </div>
</div>