<div class="form-group" ng-class="{'has-error': config.errors}">
    <label class="col-md-2 control-label">{{config.label}}
        <span class="required" ng-if="config.renderOptions.required">*</span>
    </label>
    <div class="col-md-10">
        <div class="checkbox" ng-repeat="option in config.options" ng-if="!config.renderOptions.inline">
            <label>
                <input type="checkbox" ng-model="config.value[option.value]">
                {{option.label}}
            </label>
        </div>
        <label class="checkbox-inline" ng-repeat="option in config.options" ng-if="config.renderOptions.inline">
            <input type="checkbox" ng-model="config.value[option.value]">
            {{option.label}}
        </label>
    </div>
</div>