<div class="form-group" ng-class="{'has-error': config.errors}">
    <label class="col-md-2 control-label">{{config.label}}
        <span class="required" ng-if="config.renderOptions.required">*</span>
    </label>
    <div class="col-md-10">
        <div class="radio" ng-repeat="option in config.options">
            <label>
                <input type="radio" name="{{config._id}}" ng-value="option.value" ng-model="config.value">
                {{option.label}}
            </label>
        </div>
    </div>
</div>